<div ng-init="configureRoom()">
  <div class="room col-md-6 col-md-offset-3">
    <section class="cardPanel">
      <div ng-show="voter">
        <span><h5>Choose your answer...</h5></span>
      </div>
      <div ng-hide="voter">
        <span><h5>You have chosen not to vote.</h5></span>
      </div>

      <div class="cards{{cardsState}}">
        <div ng-hide="cards" class="waiting">
          No cards found
        </div>
        <div ng-show="cards" ng-repeat="card in cards" ng-click="vote(card)" class="card progress" ng-class="{'card--selected' : card==myVote}" cardvalue>
          <div class="progress-bar progress-bar-vertical" role="progressbar" style="height: {{voteDist[card]}}%;">
            {{voteDist[card] | limitTo:3 }}%
          </div>
          {{card}}
        </div>
      </div>
    </section>
    <section class="votePanel" >
      <!-- <span class="sub">Humans: <span class="label">{{humanCount}}</span></span> -->

      <div class="switch">
        <button class="btn btn-primary" ng-show="voter" ng-disabled="forceRevealDisable" ng-click="toggleVoter()">
          You are a voter
        </button>
        <button class="btn btn-danger" ng-hide="voter" ng-disabled="forceRevealDisable" ng-click="toggleVoter()">
          You are not a voter
        </button>
      </div>

      <div ng-switch on="voter">
        <div ng-switch-when="false">
          <p>&nbsp;</p>
        </div>

        <div ng-switch-when="true">
          <div ng-switch on="voted">
            <p ng-switch-when="false">You haven't answered yet</p>
            <p ng-switch-when="true">Your current answer: <b>{{myVote}}</b></p>
          </div>
        </div>
      </div>

      <div class="voting-bar progress">
        <div class="progress-bar" role="progressbar" style="width: {{votes.length/voterCount*100}}%;">
          {{votes.length}} out of {{voterCount}} votes
        </div>
      </div>

      <!-- <div class="cards{{votingState}}" id="chosenCards">

        <div ng-repeat="vote in votes" ng-click="unvote(vote.sessionId)" class="card card--2-sided vote" selectedvote>
          <div class="card--side-1">x</div>
          <div class="card--side-2" cardvalue>{{vote.visibleVote}}</div>
        </div>
        <div ng-repeat="i in placeholderVotes" class="card card--placeholder">
          &nbsp;
        </div>

      </div> -->

      <div ng-switch on="showAdmin">
        <div ng-switch-when="true" class="row reset-buttons">
          <div class="col-md-6 col-xs-12">
            <button ng-click="resetVote()" class="btn btn-lg btn-default btn-block" title="Start a new vote">
              <i class="icon icon-refresh"></i> Reset
            </button>
          </div>
          <div class="col-md-6 col-xs-12">
            <button ng-click="forceReveal()" class="btn btn-lg btn-default btn-block" ng-disabled="forceRevealDisable" title="Force a reveal of all cards if there are some stragglers" >
              <i class="icon icon-exclamation-sign"></i> Reveal
            </button>
          </div>
        </div>
      </div>

      <!-- <div ng-switch on="showAdmin" class="">
        <div ng-switch-when="true">
          <select class="form-control" ng-model="cardPack" ng-change="setCardPack(cardPack)">
            <option class="" value="mc">Multiple Choice</option>
            <option class="" value="goat">Mountain Goat</option>
            <option class="" value="fib">Fibonacci</option>
            <option class="" value="seq">Sequential</option>
            <option class="" value="play">Playing Cards</option>
            <option class="" value="tshirt">T-Shirt</option>
          </select>
        </div>
      </div> -->

    </section>
  </div>
</div>
